<% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.id, order_path(order) %></td>
    <td><%= order.status %></td>
    <td><%= order.customer_name %></td>
    <td><%= order.item_name %></td>
    <td><%= order.price %></td>
    <td><%= order.billing_address %></td>
    <td><%=l order.created_at %></td>
    <td>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_order_path(order), :class => 'btn btn-mini' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  order_path(order),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
