<div class="page-header">
  <h1><%=t '.title', :default => 'Order info' %></h1>
</div>

<p id="notice"><%= notice %></p>

<p>
  <b>Customer name:</b>
  <%= @order.customer_name %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>

<p>
  <b>User:</b>
  <%= @order.user_id %>
</p>

<p>
  <b>Item name:</b>
  <%= @order.item_name %>
</p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>

<p>
  <b>Description:</b>
  <%= @order.description %>
</p>

<p>
  <b>Billing Address:</b>
  <%= @order.billing_address %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
