<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-narrow">
      <div class="masthead">
        <%= render 'layouts/user_header' %>
        <h3 class="muted"><%= link_to "Order Management System", root_path %></h3>
        <% if user_signed_in? %>
        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav">
              <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
              <li class="<%= 'active' if current_page?(orders_path) %>"><%= link_to "Orders", orders_path %></li>
              <li class="<%= 'active' if current_page?(audits_path) %>"><%= link_to "User Audits", audits_path %></li>
            </ul>
          </div>
        </div>
        <%end%>
      </div>
      <hr />
      <%= yield %>
    </div>
  </body>
</html>
